*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    background-image:url(lettre2.jpg) ;
    backdrop-filter: blur(25px);
    background-repeat: no-repeat;
    background-size: cover;
}

.headline{

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button {
    max-width: 600px;
    max-height: 600px;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
   place-content: center;

}
.btn{
    width: 90px;
    height: 90px;
    font-size: 30px;
    margin: 0 auto;
    background-color: rgb(204, 89, 7);
color: rgb(45, 45, 149);
border:solid 6px rgb(12, 68, 80);
    align-items: center;
    border-radius: 15px;
    font-size:50px;
}
h1{
    font-size: 65px;
    color: greenyellow;

}
h2{
    font-size: 65px;

   
  
}

p{
    color:greenyellow;
    font-size: 65px;
}

@media screen and (max-width: 780px) {
    body {
      background-color: rgb(17, 19, 17);
      display: flex;
      justify-content: center;
      margin: 0 auto;
      padding: 10px;
    }
    .button {
        max-width: 300px;
        max-height: 500px;
        display: grid;
        gap: 9px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
       place-items: center;
    
    }
    .headline{
        max-width: 600px;
          display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    padding: 4px;
    }
}