*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    background-image:url(lettre2.jpg) ;
    backdrop-filter: blur(25px);
    background-repeat: no-repeat;
    background-size: cover;
}

.headline{
    max-width: 600px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button {
    max-width: 600px;
    max-height: 600px;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
   place-content: center;

}
.btn{
    width: 90px;
    height: 90px;
    font-size: 30px;
    margin: 0 auto;
    background-color: rgb(204, 89, 7);
color: rgb(45, 45, 149);
border:solid 6px rgb(12, 68, 80);
    align-items: center;
    border-radius: 15px;
    font-size:50px;
}
h1{
    font-size: 55px;

}
h2{
    font-size: 55px;
    margin-left: 30px;
    padding: 60px;
  
}

